@media screen and (min-width: 800px) {
    #box .footer{
        display: none;
    }
    #box .swiper-slide_footer{
        height:236px;
        background:rgba(18,31,51,1);
    }
    #box footer{
        width: 1200px;
        height: 236px;
        margin: 0 auto;
    }
    #box footer ul{
       overflow: hidden;
       padding-top: 53px;
    }
    #box footer li{
        height: 52px;
        font-size: 18px;
        line-height: 52px;
        color: #4B8FEA;
    }
    #box footer li span{
        color: #666;
    }
    #box footer li a{
        color: #4B8FEA;
    }
    #box footer li a:hover{
        color: #4B8FEA;
    }
    #box footer li i{
        color: #4B8FEA;
        margin-left: 230px;
    }
    #box footer li span{
        font-size: 14px;
        margin-left: 15px;
        letter-spacing: 2px;
    }
    #box footer li img{
        width: 52px;
        height: 52px;
        margin-left: 15px;
    }
    #box footer p{
        color: #5A6A86;
        height: 26px;
        line-height: 26px;
        text-align: center;
    }
    #box footer .bian{
        display: block;
        width: 1200px;
        border-bottom: 1px solid #5B6C86;
        margin-bottom: 14px;
        margin-top: 22px;
    }
    #box footer h6{
        color: #CFD2D6;
        text-align: center;
        margin-top: 15px;
    }
    #box footer h6 a{
        color: #CFD2D6;
    }
    #box footer em{
        margin: 0 14.5px;
    }
}
@media screen and (max-width: 800px) {
    #box .swiper-slide_footer{
        display: none;
    }
    #box .footer{
        width: 100%;
        padding-bottom: 1.6rem;
        text-align: center;
    }
    #box .footer h1{
        margin-bottom:1.28rem;
    }
    #box .footer a{
        font-size: 0.6933rem;
        color: #666666;
        text-align: center;
    }
    #box .footer span{
        margin:0 0.48rem;
    }
    #box .footer p{
        width: 100%;
        font-size: 0.64rem;
        margin-bottom: 0.5333rem;
        color: #999999;
        letter-spacing: 0.6px;
        text-align: center;
    }
    
}
