#box .swiper-slide_footer{
    height:180px;
    background:rgba(18,31,51,1);
}
#box footer{
    width: 1200px;
    height: 180px;
    margin: 0 auto;
}
#box footer ul{
    padding: 40px 0;
    border-bottom: 2px solid #5B6C86;
}
#box footer li{
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    color: #5B6C86;
}
#box footer li a:hover{
    color: #666;
}
#box footer li i{
    color: #4B8FEA;
    margin-left: 370px;
}
#box footer li span{
    font-size: 14px;
    margin-left: 15px;
}
#box footer li img{
    width: 52px;
    height: 52px;
    margin-left: 15px;
}
#box footer p{
    color: #5A6A86;
    height: 26px;
    line-height: 26px;
    margin-top: 11px;
}