@media screen and (max-width: 800px) {
    html,body,#box{
        height: 100%;
    }
    #box{
        width: 100%;
        overflow: hidden;
    }
    #box .m_con{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    #box .header2{
        box-shadow:none;
    }
    #box .m_con h1{
        text-align: center;
        font-size: 1.0666rem;
        margin-top: 0.8rem;
    }
    @keyframes ce_nav_sta
    {
        0% {right: -8.64rem;}
        100% {right: 0;}
    }
    @keyframes ce_nav_end
    {
        0% {right: 0;}
        100% {right: -8.64rem;}
    }
    #box .ce_nav{
        position: fixed;
        top: 0;
        right:-8.64rem;
        width: 8.64rem;
        height: 100%;
        background: rgba(88,133,238,0.90);
        z-index: 11;
    }
    #box .ce_nav_dong{
        animation:ce_nav_sta 0.5s linear forwards;
    }
    #box .ce_nav_dong2{
        animation:ce_nav_end 0.5s linear forwards;
    }
    #box .ce_nav div{
        width: 100%;
        height: 4.2666rem;
        text-align: right;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.20);
        line-height: 4.2666rem;
    }
    #box .ce_nav div img{
        width: 0.74666rem;
        margin-right: 0.8rem;
    }
    #box .ce_nav a{
        display: block;
        width: 100%;
        height: 2.88rem;
        line-height: 2.88rem;
        font-size: 0.8533rem;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.20);
        color: #fff;
        padding-left: 2.2933rem;
    }
    #box .down{
        width: 40px;
        position: fixed;
        left: 50%;
        margin-left: -20px;
        bottom: 40px;
        z-index: 1;
    }
    #box .down2{
        width: 40px;
        position: fixed;
        left: 50%;
        margin-left: -20px;
        bottom: 40px;
        display: none;            
    }
    #box .con1 {
        color: #fff;
        text-align: center;
        overflow: hidden;
        position: relative;
        height: 100%;
    }
    #box .con1 .bj{
        width: 100%;
        height: 100%;
    }
    #box .con1 .con1_1{
        width: 100%;
        height: 100%;
    } 
    
    #box .con1 .pos{
        width: 100%;
        position: absolute;
        top: 35%;
        left: 0;
        text-align: center;
    }
    #box .con1 h1{
        width: 100%;
        font-size: 1.28rem;
        color: #FFFFFF;
        letter-spacing: 0.7px;
        text-align: center;
    }
    #box .con1 h2{
        width: 13.0133rem;
        margin: 0 auto;
        font-size: 0.7466rem;
        color: #FFFFFF;
        letter-spacing: 0.41px;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 2.1rem;
    }
    #box .con1 .btn{
        display: block;
        margin: 0 auto;
        width: 11.2rem;
        height: 2.45333rem;
        line-height: 2.45333rem;
        font-size: 0.85333rem;
        background: #5885EE;
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
    }
    @keyframes bot_str
    {
        0% {height: 50px;}
        100% {height: 150px;}
    }
    @keyframes bot_end
    {
        0% {height: 150px;}
        100% {height: 50px;}
    }
    @keyframes bot_str2
    {
        0% {margin-left: 0px;}
        100% {margin-left: -60px;}
    }
    @keyframes bot_end2
    {
        0% {margin-left: -60px;}
        100% {margin-left: 0px;}
    }
    @keyframes bot_str3
    {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
    @keyframes bot_end3
    {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    #box .con1 .QR_f{
        display: none;
        width: 148px;
        height: 50px;
        overflow: hidden;
        margin: 0 auto;
        text-align: left;
        margin-top: 50px;
        text-align: center;
        box-shadow: #ccc 0px 0px 1px 1px;
        padding-top: 4px;
        cursor: pointer;
        position: absolute;
        top: 58%;
        left: 50%;
        margin-left: -74px;
        z-index: 11;
    }
    #box .con1 .dong2{
        animation:bot_str 0.5s forwards ;
    }
    #box .con1 .dong3{
        animation:bot_end 0.5s forwards ;
    }
    #box .con1 .QR_f p{
        line-height: 40px;
        font-size: 16px;
    }
    #box .con1 .QR_f p i{
        margin-left: 10px;
        opacity: 0.8;
    }
    #box .con1 .QR_f .dong4{
        animation:bot_str2 0.5s forwards ;
    }
    #box .con1 .QR_f .dong5{
        animation:bot_str3 0.5s forwards ;
    }
    #box .con1 .QR_f .dong6{
        animation:bot_end2 0.5s forwards ;
    }
    #box .con1 .QR_f .dong7{
        animation:bot_end3 0.5s forwards ;
    }
    #box .con1 .QR_f .qr_small{
        width: 40px;
        height: 40px;
    }
    #box .con1 .QR{
        width: 80px;
        height: 80px;
        margin-top: 15px;
    }
    #box .con1 .Mask{
        width: 100%;
        height: 2.4rem;
        background-color:rgba(0,0,0,0.3);
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: left;
        z-index: 10;
    }
    #box .con1 .Mask .cen{
        margin: 0 auto;
        line-height: 2.4rem;
        font-size: 0.74666rem;
    }
    #box .swiper-container4{
        height: 2.4rem;
        overflow: hidden;
        cursor: pointer;
    }
    #box .con1 .Mask .cen span{
        width: 2.98666rem;
        height: 1.12rem;
        background: #E76F00;
        text-align: center;
        line-height: 1.12rem;
        border-radius: 4px;
        margin-top:0.64rem;
        margin-left: 1.92rem;
        margin-right: 0.8rem;
        font-size: 0.64rem;
    }
    #box .con1 .Mask .cen i{
        float: left;
        width: 13rem;
        overflow: hidden;
        height: 2.4rem;
    }
    #box .con2{
        width: 100%;
        overflow: hidden;
    }
    #box .con2 h3{
        font-size: 0.96rem;
        text-align: center;
        color: rgba(0,0,0,0.80);
        text-align: left;
        margin-top: 3rem;
        font-weight: bold;
        text-align: center;
    }
    #box .con2 h2{
        width:1.6rem;
        height:0.16rem;
        background: #132550;
        margin: 0 auto;
        margin-top: 0.5333rem;
        margin-bottom: 2.13333rem;
    }
    #box .con2 ul{
        width: 100%; 
    }
    #box .con2 li{
        width: 100%;
        height: 6.46666rem;
        position: relative;
    }
    #box .con2 ul li .rrr h1{
        text-align: right
        
    }
    #box .con2 ul li .rrr p{
        float: right;
        text-align: right;
    }
    #box .con2 div{
        width: 100%;
        height: 100%;
        position: absolute;
        color: #fff;
        padding:0 1.3866rem;
    }
    #box .con2 ul li div h1{
        width: 100%;
        font-size: 0.85333rem;
        color: #fff;
        margin: 0;
        margin: 0.8rem 0;
    }
    #box .con2 ul li div p{
        width: 10.29333rem;;
        font-size: 0.64rem;
        line-height: 1.0666rem;
        opacity: 0.8;
    }
    /* 旋转 */
    @keyframes myfirst
    {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    /* 下滑 */
    
    #box .con2 li .b_i{
        width: 100%;
    }
    #box .con2 li .dong{
        animation:myfirst 0.8s linear;
    }
    #box .con2 li .fly{ 
        display: none;
        width: 51%;
        height: 62%;
        position: absolute;
        top: 26%;
        left: 25%;
    }
    #box .con3{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #box .world{
        display: none;
    }
    #box .con3 h2{
        width:1.6rem;
        height:0.16rem;
        background: #132550;
        margin: 0 auto;
        margin-top: 0.5333rem;
        margin-bottom: 2.66666rem;
    }
    #box .con3 .con3_1{
        color: #8095C7;
    }
    #box .con3{
        text-align: center;
    }
    #box .con3 h6{
        font-size: 0.96rem;
        color: rgba(0,0,0,0.80);
        letter-spacing: 0.26px;
        margin-top: 3rem;
        font-weight: bold;
        text-align: center;
    }
    #box #no_dq{
        background:#fbfbfb;
    }
    #box .yy{
        width: 10.34666rem;
    }
    #box .con3 .dq{
        width: 15.2533rem;
    }
    .swiper-container,.swiper-container2,.swiper-container3{
        width: 100%;
        height: 100%;
    }
    .swiper-container2 .swiper-slide1{
        background: url(../img/m_bj.jpg) center no-repeat;
        background-size:cover;
    }
    .swiper-container2 .swiper-slide2{
        background: url(../img/m_bj2.jpg) center no-repeat;
        background-size:cover;
    }
    .swiper-container2 .swiper-slide3{
        background: url(../img/m_bj3.jpg) center no-repeat;
        background-size:cover;
    }
    .swiper-container3 .swiper-wrapper{
        width: 100%;
    }
    .swiper-container3 h2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150%;
        background:rgba(0,0,0,0.5);
    }
    #box .zx h3{
        margin-top: 4.2666rem;
        font-size: 0.96rem;
        color: rgba(0,0,0,0.80);
        font-weight: bold;
        text-align: center;
    }
    #box .zx h2{
        width:1.6rem;
        height:0.16rem;
        background: #132550;
        margin: 0 auto;
        margin-top: 0.5333rem;
    }
    .swiper-container3 .swiper-slide{
        width: 100%;
        height: 18rem;
        text-align: center;
        padding-top: 4.2666rem;
    }
    .swiper-container3{
        height: 80%;
    }
    .swiper-container3 .swiper-slide img{
        width: 16rem;
    }
    .swiper-container3 .swiper-slide p{
        width: 18.4rem;
        margin: 0 auto;
        font-size: 0.8rem;
        color: #282828;
        letter-spacing: 1.5px;
        line-height: 1.28rem;
        margin-top:2.6rem;
        margin-bottom: 1rem;
    }
    .swiper-container3 .swiper-slide div{
        width: 18.4rem;
        margin: 0 auto;
        font-style: 0.74666rem;
        height: 1.06666rem;
    }
    .swiper-container3 .swiper-slide div i{
        line-height:1.06666rem;
    }
    .swiper-container3 .swiper-slide div a{
        line-height:1.06666rem;
        font-size: 0.7466rem;
        color: #5885EE;
        letter-spacing: 1.15px;
    }
    #box .ding{
        display: none;
    }
    #ding2{
        display: none;
    }
    .swiper-container3  .swiper-button-prev{
        width: 0.373333rem;
        height: 0.64rem;
        background:url(../img/m_pr.png) center no-repeat;
        background-size: 100% 100%;
        outline: none; 
        top: 48%;
    }
    .swiper-container3  .swiper-button-next{
        width: 0.373333rem;
        height: 0.64rem;
        background:url(../img/m_ne.png) center no-repeat;
        background-size: 100% 100%;
        outline: none; 
        top: 48%;
    }
    #box .footer{
        position: relative;
        height: 100px;
        background: #fff;
        z-index: 9;
    }
}
@media (max-height:560px){ 
    .swiper-container3  .swiper-button-prev{
        width: 0.373333rem;
        height: 0.64rem;
        background:url(../img/m_pr.png) center no-repeat;
        background-size: 100% 100%;
        outline: none; 
        top: 51%;
    }
    .swiper-container3  .swiper-button-next{
        width: 0.373333rem;
        height: 0.64rem;
        background:url(../img/m_ne.png) center no-repeat;
        background-size: 100% 100%;
        outline: none; 
        top: 51%;
    }
 }
