@media screen and (min-width: 800px) {
    #box{
        min-width: 1500px;
        position: relative;
    }
    #box .ce_nav{
        display: none;
    }
    #box .m_con{
        display: none;
    }
    #box .m_con2{
        display: none;
    }
    #box header{
        position: absolute;
        width: 100%;
        height: 80px;
        background-color:rgba(0,0,0,0.3);
        top: 0;
        left: 0;
        z-index: 10;
    }
    #box .con {
        position: relative;
    }
    #box .con img{
        width: 100%;
    }
    #box .con div{
        width: 1200px;
        position: absolute;;
        left: 50%;
        margin-left: -600px;
        color: #fff;
        top:40%;
        text-align: center;
    }
    #box .con h1{
        font-size: 40px;
        height: 56px;
        line-height: 56px;
    }
    #box .con p{
        font-size: 24px;
        height: 33px;
        line-height: 33px;
        margin-top: 6px;
    }
    #box .con2{
        position: relative;;
        width: 1200px;
        margin: 0 auto;
        margin-top: -36px;
        z-index: 10;
        background: #fff;
        box-shadow: 0px 0.5px 0.5px 0px rgba(0,0,0,0.2);
        margin-bottom: 36px;
        min-height: 860px;
    }
    #box .con2_l{
        width: 262px;
        color: #AEAEAE;
        line-height: 46px;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        background:rgba(0,0,0,0.08);
    }
    #box .con2_l a{
        display: block;
        height: 68px;
        line-height: 68px;
        color: #AEAEAE;
        border-left: 3px solid #ebebeb;
        position: relative;
    }
    #box .con2_l .act{
        border-left: 3px solid #5885EE;
        background: #fff;
        color: #5885EE; 
    }
    #box .con2_l a:hover{
        color: #5885EE; 
    }
    #box .con2_l .jiao{
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 26px;
        margin-left: 190px;
    }
    @keyframes ul_height_sta
    {
        0% {height: 0px;}
        100% {height: 408px;}
    }
    @keyframes ul_height_end
    {
        0% {height: 408px;}
        100% {height: 0px;}
    }
    
    #box .con2_l ul{
        width: 262px;
        background: #fff;
        margin-left:-3px;
        height: 0px;
        overflow: hidden;
    }
    #box .con2_l .dong{
        animation:ul_height_sta 0.6s forwards ;
    }
    #box .con2_l .dong2{
        animation:ul_height_end 0.6s forwards ;
    }
    #box .con2_l ul li{
        width: 100%;
        font-size: 20px;
        color: #5885EE;
        letter-spacing: 3.08px;
        border-top: 1px solid #ebebeb;
        font-weight: normal;
    }
    #box .con2_l ul li:hover{
        color: #fff;
        background: #5885EE;
    }
    #box .con2_l ul .li_act{
        color: #fff;
        background: #5885EE;
    }
    #box .con2_r{
        width: 938px;
        padding: 40px 80px;
    }
    
    #box .con2_r div{
        overflow: hidden;
        margin-bottom: 35px;
    }
    #box .con2_r ul{
        margin-left: -20px;
        padding-bottom: 24px;
        border-bottom:1px solid #d8d8d8; 
    }
    #box .con2_r ul li{
        float: left;
        font-size: 20px;
        color: #333333;
        letter-spacing: 0.6px;
        border-left:1px solid #d8d8d8;
        padding:0 20px;
        cursor: pointer;
    }
    #box .con2_r ul .act{
        color: #5885EE;
    }
    #box .con2_r #content h1{
        font-weight: bold;
        font-size: 16px;
        color: #333333;
        letter-spacing: 1px;
        line-height: 30px;
    }
    #box .con2_r #content{
        font-size: 16px;
        color: #333333;
        letter-spacing: 1px;
        line-height: 30px;
        overflow-y: scroll;
        max-height: 600px;
    }
    #box .con2_r #kong{
        display: none;
        margin: 0 auto;
        margin-top: 200px;
    }
    #box .con2_r #sub{
        display: block;
        width: 160px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.09px;
        background: #5885EE;
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 40px;
    }
    #box #zhezhao{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        z-index: 11;
        display: none;
    }
    #box #zhezhao #zhe_zi{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 800px;
        height: 635px;
        background: #fff;
        margin-left: -400px;
        margin-top: -318px;
    }
    #box #zhezhao #zhe_zi h1{
        width: 100%;
        height: 88px;
        font-size: 20px;
        color: rgba(0,0,0,0.80);
        text-align: center;
        line-height: 88px;
        border-bottom: 1px solid #CCCCCC;
        font-weight: bold;
    }
    #box #zhezhao #zhe_zi #close{
        position: absolute;
        width: 36px;
        height: 77px;
        left: 48%;
        bottom: -77px;
        cursor: pointer;
    }
    #box #zhezhao #zhe_zi ul{
        margin-top: 44px;
    }
    #box #zhezhao #zhe_zi li{
        margin-left: 100px;
        margin-bottom: 30px;
    }
    #box #zhezhao #zhe_zi li label{
        float: left;
        width: 88px;
        text-align: right;
        font-size: 16px;
        font-weight: bold;
        line-height: 36px;
        color: rgba(0,0,0,0.9);
        border: 1px solid #fff;
    }
    #box #zhezhao #zhe_zi li input{
        float: left;
        width: 324px;
        height: 36px;
        font-size: 14px;
        border: 1px solid #CCCCCC;
        margin-left: 30px;
        text-align: center;
    }
    #box #zhezhao #zhe_zi li i{
        color: #F24D4C;
        margin-right: 10px;
    }
    #box #zhezhao #zhe_zi #shangchuan2{
        display: block;
        width: 113px;
        height: 36px;
        background: #5885EE;
        border-radius: 6px;
        line-height: 36px;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0.08px;
        text-align: center;
        margin-left: 120px;
        cursor: pointer;
        font-weight: normal;
    }
    #box #zhezhao #zhe_zi #shangchuan{
        display: none;
    }
    #box #zhezhao #zhe_zi #wen_n{
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0.08px;
        margin-left: 30px;
    }
    #box #zhezhao #zhe_zi #sub2{
        display: block;
        width: 160px;
        height: 40px;
        line-height: 40px;
        background: #5885EE;
        border-radius: 6px;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.09px;
        text-align: center;
        margin: 0 auto;
    }

}
@media screen and (max-width: 800px) {
     #box{
        width: 100%;
        overflow: hidden;
    }
    #box #back{
        width: 0px;
        height: 0px;
    }
    #box .m_con{
        width: 100%;
        height: 6.9333rem;
        background:url(../img/m_fanyi.jpg) no-repeat center;
        background-size: 100% 100%;
    }
    #box .m_con h1{
        text-align: center;
        color: #fff;
        font-size: 1.0666rem;
        margin-top: 0.8rem;
        margin-bottom: 0.2133rem;
    }
    #box .m_con p{
        text-align: center;
        color: #fff;
        font-size: 0.746666rem;
    }
    @keyframes ce_nav_sta
    {
        0% {right: -8.64rem;}
        100% {right: 0;}
    }
    @keyframes ce_nav_end
    {
        0% {right: 0;}
        100% {right: -8.64rem;}
    }
    #box .ce_nav{
        position: fixed;
        top: 0;
        right:-8.64rem;
        width: 8.64rem;
        height: 100%;
        background: rgba(88,133,238,0.90);
    }
    #box .ce_nav_dong{
        animation:ce_nav_sta 0.5s linear forwards;
    }
    #box .ce_nav_dong2{
        animation:ce_nav_end 0.5s linear forwards;
    }
    #box .ce_nav div{
        width: 100%;
        height: 4.2666rem;
        text-align: right;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.20);
        line-height: 4.2666rem;
    }
    #box .ce_nav div img{
        width: 0.74666rem;
        margin-right: 0.8rem;
    }
    #box .ce_nav a{
        display: block;
        width: 100%;
        height: 2.88rem;
        line-height: 2.88rem;
        font-size: 0.8533rem;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.20);
        color: #fff;
        padding-left: 2.2933rem;
    }
    #box .con{
        display: none;
    }
    #box .con2{
        display: none;
    }
    #box .m_con2{
        width: 100%;
        margin-top: 1.2266rem;
    }
    #box .m_con2 h1{
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.08);
        margin-left: 0.8rem;
        margin-bottom: 1.973333rem;
    }
    #box .m_con2 a{
        font-weight: bold;
        font-size: 0.8533rem;
        float: left;
        width: 4.053rem;
        text-align: center;
        padding-bottom: 0.48rem;
        border-bottom: 3px solid #fff;
        margin-right: 1.6rem;
        color: #AEAEAE;
    }
    #box .m_con2 .act{
        border-bottom: 3px solid #5885EE;
        color: #5885EE;
    }
    #box .m_con2 div{
       text-align: justify;
       padding: 0 0.8rem;
       margin-bottom: 5.3333rem;
    }
    #box .m_con2 h2{
        font-size: 0.8533rem;
        text-align: center;
        font-weight: bold;
        color: #000;
        margin-bottom: 1.1733rem;
    }
    #box .m_con2 p{
        font-size: 0.8rem;
        color: #474747;
        letter-spacing: 1px;
        line-height: 1.6rem;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 1.6rem;
    }
    
}
